.chart {
    width: 100%;
}

.label {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.user-icons {
    color: #bbbbbb;
    margin-left: 0.5em;
}

.result {
    margin-top: 0.5em;
    display: flex;
}

.bar {
    display: flex;
    align-items: center;
    flex: 1 0 auto;
}

.value {
    height: 0.5em;
    display: inline-block;
    border-radius: 0.5em;
    transition: width 0.5s;
    box-sizing: border-box;
    min-width: 0.7em;
}

.option {
    padding: 0.5em 0.7em 0.7em 0.7em;
    margin-bottom: 0.3em;
    border-radius: 0.3em;
    cursor: pointer;
    box-sizing: border-box;
    transition: background-color 0.2s, opacity 0.1s;
}

.option:hover {
    opacity: 0.8;
}

.option:hover,
.option.selected {
    background: #f9f9f9;
}

.option.selected .label {
    font-weight: bold;
}

.option:not(.selected) .value {
    background: #dddddd !important;
}

