.filter {
    background-color: #333333;
    color: #ffffff;
}

.content {
    max-width: 80em;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 1em;
}

.items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: -1em;
}

.item-grow {
    flex-grow: 1;
    margin-left: 1em;
}

.item {
    margin-left: 1em;
}