.user-name {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-radius: 0.2em;
    width: 200px;
    justify-content: center;
    transition: border-radius 0.5s 0.25s, background-color 0.5s 0.25s, width 0.5s, height 0.5s;
}

.user-name input {
    width: 100%;
    padding: 1.2em;
    border: none;
    font-size: 1em;
    font-weight: bolder;
    outline: none;
    background: transparent;
}

.user-name input:focus {
    outline: none;
}

.user-name input:placeholder-shown {
    font-weight: normal;
}

.user-icon {
    color: #666666;
    font-size: 2em;
    margin-right: 0.5em;
    transition: color 0.2s, font-size 0.2s, margin-right 0.2s;
}

.save-icon {
    margin-right: 0.5em;
    font-size: 1.3em;
    color: #4d9413;
    opacity: 0;
    animation-duration: 5s;
    animation-name: fadeInOut;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }

    5% {
        opacity: 1;
    }

    95% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.user-name.collapsed {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: transparent;
}

.user-name.collapsed input {
    display: none;
}

.user-name.collapsed .user-icon {
    color: #ffffff;
    margin-right: 0;
}
