.info {
    margin-top: 1em;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.info > * {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    margin-right: 0.5em;
}

.info > :last-child {
    margin-right: 0;
}