.dish {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
    border-bottom: 1px solid #eeeeee;
}

.dish:hover {
    background: #eeeeee;
    padding: 0.5rem 1rem;
    margin-left: -1rem;
    margin-right: -1rem;
}

.dish .price {
    white-space: nowrap;
    margin-left: 1rem;
}