.dish {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0.5em 0.7em;
    border-bottom: 1px solid #f7f7f7;
    border-radius: 0.2em;
}

.dish:hover {
    background: #f7f7f7;
}

.dish .price {
    white-space: nowrap;
    margin-left: 1rem;
}