.filter {
    background: #333333;
    color: #ffffff;
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    left: 0;
    top: 0;
}

.filter h2 {
    margin-top: 0;
}

.block {
    margin-bottom: 2rem;
}

.filter.is-collapsed .content {
    display: none;
}

.collapse-button {
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}

.collapse-button:hover {
    opacity: 0.8;
}

@media screen and (min-width: 768px) {
    .filter {
        width: 15rem;
        min-height: 100vh;
    }

    .filter .collapse-button {
        display: none;
    }

    .filter.is-collapsed .content {
        display: block;
    }
}