.option {
    margin-top: 0;
    margin-bottom: 0.5rem;
    transition: opacity 0.2s;
    cursor: pointer;
}

.option:hover {
    opacity: 0.8;
}

.option span {
    padding: 0.1rem 0.4rem;
}

.option.selected span {
    background: #ffffff;
    border-radius: 0.2rem;
    color: #333333;
}