.restaurant {
    background: #ffffff;
    max-width: 50rem;
    margin: 0.7rem;
    padding: 2rem;
    transition: filter 0.5s;
    filter: blur(0);
}

@media screen and (min-width: 768px) {
    .restaurant {
        margin: 2rem;
    }
}

.restaurant.loading .content {
    filter: blur(5px);
}

.restaurant .header {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.restaurant h2 {
    margin: 0;
}

.info {
    margin-top: 1rem;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.info > * {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    margin-right: 0.5rem;
}

.info > :last-child {
    margin-right: 0;
}

.date {
    font-size: 0.9rem;
    color: #999999;

}
