.layout {
    display: flex;
    flex-wrap: wrap;
    background: #eeeeee;
    margin-top: 3.5rem;
}

@media screen and (min-width: 768px) {
    .layout {
        margin-left: 15rem;
        margin-top: 0;
    }
}